/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}


ul,
ol {
    list-style: none;
}


a {
    color: currentColor;
    text-decoration: none;
}
body{
    background-color: #ffffff;
}
img {
	max-width: 100%;
}

/* HEADER */
.main-header{
    padding: 12px 80px;
    background-color: rgb(206, 119, 38);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
   }
   .container{
    max-width: 1000px;
    margin: 0 auto;
    background-size: cover;
}
.main-menu , .menu-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    color: white;
    font-weight: bold;
   }
.row{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 5%;
    justify-content: center;
    
}
.col-13{ 
    width:calc(100%/3) ;
    padding: 0.5%;
    position: relative;

}
.img-items{
    width: 600px;
}
.marca{
    font-size:14px;
}
.description{
    font-size: 18px;
}
.price{
    font-size: 14px;
    font-weight: bold;
}
.sale{
    color: red;
    margin-right: 3%;
}
.sconto{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 100px;
   font-size: 10px;
   font-weight: bold;
   padding:5px 10px
}
.green{
    background-color: rgb(4, 107, 9);
    color: white;
    position: absolute;
    bottom: 100px;
    left: 50px;
   font-size: 10px;
   font-weight: bold;
   padding:5px 10px
}
.green-two{
    background-color: rgb(4, 107, 9);
    color: white;
    position: absolute;
    bottom: 100px;
   font-size: 10px;
   font-weight: bold;
   padding:5px 10px
}
.love{
    background-color: white;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 5px 15px;
    font-size: 22px;
}
.row-footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}
.page-footer{
    background-color: #23272a;
    color: white;
    padding: 80px 0 40px;
}

